@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";

.form
{
    position: absolute;
}
.e-icons {
    color: #0a0a0a;
}
.e-dots::before{
    content: '\eb04';
}